$primary: #405EF1 !default;
$primary-light: #5E79FB !default;
$secondary: #200E62 !default;
$secondary-light: #6704BE !default;
$success: #01CE81 !default;
$success-light: #54DE8B !default;
$danger: #E92956 !default;
$danger-light: #FF5483 !default;
$warning: #FF9436 !default;
$warning-light: #FFB163 !default;
$white: #fff !default;

$gray-100: #F9F9F9 !default;
$gray-200: #F1F0F5 !default;
$gray-300: #E5E3EC !default;
$gray-400: #D2CFDE !default;
$gray-500: #BDB9CE !default;
$gray-600: #9A95AE !default;
$gray-700: #66617E !default;
$gray-800: #47435A !default;
$gray-900: #2A263A !default;
$gray-1000: #181524 !default;

// Font Integration
$font-family-sans-serif: "Inter", sans-serif !default;